.catalog-publish-store{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid;
    margin-bottom: 5px;
}
.pb-plateform{
display: flex;
flex-direction: column;
justify-content: space-around;
margin-top: 20px;
}
.user-store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px dotted;
    margin-bottom: 5px;
}
.allStore{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}